.signleftbox {
	width:219px;
	height:auto;
	float:left;
	margin-bottom:5px;
}
.signleftbox h2 {
	font-size:18px;
	color:#535154;
	margin:22px 10px 0 0;
	text-align:right;
	font-family: 'pt_sans_narrowregular';
}
.signleftbox h3 {
	font-size:18px;
	color:#535154;
	margin:22px 10px 0 0;
	text-align:right;
	font-family: 'pt_sans_narrowregular';
}
.signleftbox h2:before {
	content:    '* ';
	padding:13px 0 0 14px;
	color:#f76804;
}
.signrightbox {
	width:221px;
	height:auto;
	float:left;
	margin-bottom:5px;
	position:relative;
}
.contact_form input, .contact_form select, .contact_form textarea {
	height:32px;
	width:220px;
	padding:5px 8px;
	margin-top:15px;
}
.contact_form input, .contact_form textarea, .contact_form select {
	border:1px solid #d9d9d9;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color:#747474;
	box-shadow:none;
}
.confPW {
	float:right;
}
.secretQ {
	color: #535154;
	font-size: 18px;
	margin: 19px 10px 0 0;
	text-align: right;
}
.signrightbox input[type="radio"] + label {
	font-size:14px;
	color:#6e6e6e;
	font-weight:normal;
	width: 83px;
}
.signleftbox {
	width:219px;
	height:auto;
	float:left;
	margin-bottom:5px;
}
.signleftbox h2 {
	font-size:18px;
	color:#535154;
	margin:22px 10px 0 0;
	text-align:right;
	font-family: 'pt_sans_narrowregular';
}
.signleftbox h3 {
	font-size:18px;
	color:#535154;
	margin:22px 10px 0 0;
	text-align:right;
	font-family: 'pt_sans_narrowregular';
}
.signleftbox h2:before {
	content:    '* ';
	padding:13px 0 0 14px;
	color:#f76804;
}
.signrightbox {
	width:221px;
	height:auto;
	float:left;
	margin-bottom:5px;
	position:relative;
}
.signleftbox {
	width:219px;
	height:auto;
	float:left;
	margin-bottom:5px;
}
.signleftbox h2 {
	font-size:18px;
	color:#535154;
	margin:22px 10px 0 0;
	text-align:right;
	font-family: 'pt_sans_narrowregular';
}
.signleftbox h3 {
	font-size:18px;
	color:#535154;
	margin:22px 10px 0 0;
	text-align:right;
	font-family: 'pt_sans_narrowregular';
}
.signleftbox h2:before {
	content:    '* ';
	padding:13px 0 0 14px;
	color:#f76804;
}
.signrightbox {
	width:221px;
	height:auto;
	float:left;
	margin-bottom:5px;
	position:relative;
	padding-top:14px;
}
.formDetailsMainHead h1 {
	color: #0395D9;
	font-size: 22px;
	margin: 0;
	margin-left:65px;
	line-height:35px;
	border-bottom:solid 1px #C3A4A4;
	font-family: 'pt_sans_narrowregular';
}
.formDetailsMainHead.RegisterNewConsumer {
	height:35px;
	background:url(../images/icons/homeBlurb_sprite.png) no-repeat -136px -223px;
	
	}
	.formDetailsMainHead.RegisterNewConsumer.password {
	height:35px;
	background:url(../images/icons/homeBlurb_sprite.png) no-repeat -136px -315px;
	
	}
.radio-inline 
{
	padding-left: 24px;
	padding-top: 7px;
}
.radio-inline span
{
	
	font-size:15px;
}
.btn-primary {
	background-color: #0395d9;
	border-color: #0395d9;
}
.registerFormBtnMain {
	margin:30px 0;
}
.registerBtn, .cancelBtn {
	height:30px;
	/*font-size:18px;*/
	line-height:30px;
	padding:0px 16px;
}
.registerBtn {
	float:right;
	margin-left:15px;
	
}
.registerFormBtnMain {
	margin:30px 0;
}
.cancelBtn {
	float:left;
	background:#5c5c5c;
	border-color: #5c5c5c;
}
.cancelBtn:hover, .cancelBtn:focus, .cancelBtn:active {
	background:#4b4b4b;
	border-color: #4b4b4b;
}
.formhead
{
	min-height: 34px;
    height: auto;
    width: 100%;
    margin: 0;
	/*margin-top: -2.5%;*/
    padding: 0;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background: #0395d9 url("../images/misc/PHmainBG.png") no-repeat scroll 99% center;
    behavior: url(../PIE/PIE.htc);
}
.formhead h1
{
	color: #F9F5F5;
	margin-top:0px;
	font-size: 23px;
	padding-top: .19em;
    padding-left: .3em;
}
.tablebutton
{
 width:8%;
}
.registerBtn.active
{
	width:100%;
	margin-left:0px;
	margin-right:0px;
	background-color: rgba(47, 79, 107, 0.72);
}
.registerBtn.deactive
{
	width:100%;
	margin-left:0px;
	margin-right:0px;
	background-color:  rgba(230, 126, 37, 0.81);
	border-color:#E6AA6B;
}
.parsley-notequalto,.parsley-equalto {
    color: #FF5722;
    font-style: italic;
    position: absolute;
    width:150%;
    margin-left: 20px;
}